body {
    background-image: url("../../Resource/Claimy_Logo_OG.png");
   
    
}

h1 {
    color: darkgreen
}



.informationBar {
    background-color: cornflowerblue;
    font-size: 25px;
}

.barItemButton {
    background-color: cornflowerblue;
    color: white;
}

    .barItemButton:hover {
        background-color: cornflowerblue;
        color: lightskyblue;
    }

table, th {
    padding: 25px;
    text-align: left;
    border: 5px solid ;
}

td {
    text-align: right;
}

.column {
    float: left;
    width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

